# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
#
# Link to help info - https://git-scm.com/docs/gitignore
#

# Maven
target*
dependency-reduced-pom.xml
core*.dmp
pom.xml.releaseBackup

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea
venv

# Eclipse
.cache
.classpath
.project
.checkstyle

.settings
.externalToolBuilders
maven-eclipse.xml

# emacs files
*#
*~

# Mac OS
__MACOSX
.DS_Store

# Ignore sub-charts
# when helm pulls in dependencies (dependency.yaml) it keeps the chart locally. We don't want
# to check these into git as they are not owned by this project and helm will automatically
# retrieve from the authoritative source
**/charts/**/charts/**

# vscode editor
**/.vscode*/**
**/.factorypath
**/**.code-workspace



